<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCHM</title>


	<!DOCTYPE html>
	<html lang="en">
	
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>DCHM</title>

		<!-- Demo Files -->
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/tuts.css') }}"></link>
		<script src="{{ url_for('static', filename='js/render.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

		<!-- Core Tapestry JS -->
		<script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/tools.js') }}"></script>
		<script src="{{ url_for('static', filename='js/sylvester.js') }}"></script>
		<script src="{{ url_for('static', filename='js/math.js') }}"></script>
		<script src="{{ url_for('static', filename='js/arcball.js') }}"></script>
		<script src="{{ url_for('static', filename='js/tools.js') }}"></script>
		<script src="{{ url_for('static', filename='js/tapestry.js') }}"></script>
	</head>
	
	<body>
		<div class="header">
			<h1>VAAS Flask Template</h1>
		</div>
        <div>
            <p>Content Here.</p>
        </div>
	</body>
	</html>
</head>
